<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <table> 
	    <tr> 
		    <td><%= link_to image_tag("tabarnak.png", height: "15%", width: "15%"), :home, id: "logo" %></td> 
		    <td align="right"><%= link_to image_tag("github.png", height: "18%", width: "18%"), "https://www.github.com/weiyunlu/tabarnak", id: "logo" %></td> 
	    </tr> 
    </table> 
  </div>
</header>